p {
color:brown;
}
p {
color:green;
font-weight:bold;
}
p {
    color:brown;
    }
    .mon-style
    {
    color:green;
    font-weight:bold;
    }
p {
    color:brown;
    }
    .mon-style
    {
    color:green;
    font-weight:bold;
    }
    .mon-style
    {
    color:brown;
    font-weight:bold;
    }
    .mon-style
    {
    color:green;
    }
 #mon-style1
{
color:green;
}
.mon-style2
{
color:brown;
font-weight:bold;
}